body {
	padding: 10px;
}

.options {
	margin-bottom: 20px;
}

#status {
	min-height: 15px;
}

.label {
	font-size: 14px;
	font-style: bold;
	display: block;
}

.label-explanation {
	font-size: 12px;
	font-style: italic;
	display: block;
	margin-bottom: 5px;
}